@tailwind base;
@tailwind components;
@tailwind utilities;

.h1 {
  @apply font-semibold text-xl text-gray-800 leading-tight;
}

.server-title {
  @apply font-semibold text-xl text-gray-800 leading-tight truncate;
}

.h3 {
  @apply text-lg font-bold;
}

.h3-deemphasized {
  @apply text-gray-500 text-xs font-medium uppercase tracking-wide;
}

.h4 {
  @apply font-bold text-sm;
}

.p-desc {
  @apply text-sm text-gray-600;
}

.p-card {
  @apply px-4 py-5 sm:p-6;
}

.dt {
  @apply text-gray-500 text-xs font-medium uppercase tracking-wide;
}

.dd {
  @apply text-black mt-1 font-medium
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
